<div class="card-header">
        <% @tweeets.each do |tweeet| %>
            <%= image_tag tweeet.user.profile_picture %>
            <h4> <%= tweeet.user.name %> </h4>
            <h5> <%= tweeet.user.username %> </h5>
                <div class="card">
                    <p class="card-text">
                        <tbody>
                            <tr>
                                <td><%= tweeet.tweeet %></td> 
                                    <div>
                                    <td><%= link_to 'Show', tweeet, class:"btn btn-primary" %></td>
                                    <% if tweeet.user == current_user %>   
                                        <td><%= link_to 'Edit', edit_tweeet_path(tweeet), class:"btn btn-secondary" %></td>
                                        <td><%= link_to 'Destroy', tweeet, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
                                    <% end %>
                                    </div>   
                            </tr>
                        </tbody>
                        </p>
                </div>
        <% end %>
</div>
</br>
<%= paginate @tweeets %>
