<%= form_with(model: tweeet, local: true) do |form| %>
  <% if tweeet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweeet.errors.count, "error") %> prohibited this tweeet from being saved:</h2>

      <ul>
      <% tweeet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :tweet_id %>
    <%= form.number_field :tweet_id %>
  </div>

  <div class="field">
    <%= form.label :retweets_count %>
    <%= form.number_field :retweets_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
