<div class="jumbotron">
  <h2>Tweeet:</h2>
  <p class="lead"><%= @tweeet.tweeet %></p>
  <hr class="my-4">
  <h3>Who liked this:</h3>
    <div>
      <% @tweeet.likes.each do |like| %>
          <div>
            <%= image_tag @tweeet.user.profile_picture %>
            <%= like.user.username.capitalize %>
          </div>
        </div>
      <% end %>
      <%= link_to 'Edit', edit_tweeet_path(@tweeet), class:"btn btn-primary" %> |
      <%= link_to 'Back', tweeets_path, class:"btn btn-secondary" %>
    </div>
</div>


